*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../images/dance_pose.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 105px;
}
.d-flex{
    display: flex;
    justify-content: space-around;

}
li{
    list-style-type: none;
    margin-left: 30px;
    font-size: 30px;
    text-transform: uppercase;
}
.head_style{
    background-color: #303030;
    color: white;
    padding-top: 30px;
    
}
.size{
    width: 30px;
    height: 30px;
}
h1{
    font-size: 90px;
    margin-left: 60px;
    margin-top: 220px;
}
.p-style{
    font-size: 30px;
    margin-left: 65px;
    margin-top: 20px;
}
.style{
    color: white;
    width: 40%;
}
button{
    margin-left:65px ;
    background-color: orangered;
    color: white;
    width: 45%;
    height: 50px;
    font-size: 25px;
    margin-top: 30px;
}
.tac{
    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}


/* ---------------------Header end--------------------------- */

/* ---------------------- Section-Frist Start --------------------- */
section{
    background-color: orangered;
    color: white;
    padding-bottom: 60px;
  
}
.box{
    background-color: black;
    text-align: center;
}
.col-30{
    width: 24.50%;
}
.text-style{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 60px;
}
.p-text{
    font-size: 25px;
    width: 40%;
    margin: 0 auto;
    padding-top: 30px;
}
.h2-text{
    font-size: 30px;
}
.sec-padding{
    padding-top: 50px;
}
.po-rel{
    position: relative;
}
.sec-first-po{
    position: absolute;
    right: 36%;
    bottom: 8px;
}

