*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-bg-color{
    background-color: #daac00;
}
.row{
    display: flex;
}
.jsc{
    justify-content: space-around;
}
li{
    display:inline-block;
}
li>a{
    text-decoration: none;
    padding: 0 20px;
}
.alc{
    align-items: center;
}
.logo{
    padding: 20px;
}
.search{
    margin-right: 10px;
}