*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-bg-color{
    background-color: #daac00;
}
.row{
    display: flex;
}
.jsc{
    justify-content: space-around;
}
li{
    display:inline-block;
}
li>a{
    text-decoration: none;
}