*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-bg-color{
    background-color:#e59090;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.jsc{
    justify-content: space-between;
}
li{
    display:inline-block;
}
li>a{
    text-decoration: none;
    padding: 0 20px;
    color: white;
    font-size: 30px;
}
.alc{
    align-items: center;
}
.tlc{
    text-align: center;
}
.logo{
    padding: 20px;
}
.search{
    margin-right: 40px;
}
.col-50{
    width: 50%;
    margin: 0 auto;
}
.col-30{
    width: 30%; 
    margin: 0 auto; 
}
/*----------------------------Section-one-start--------------------*/
.sec-one{
    background-image: url("../images/sec-1-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-one-text{
    color: white;
    padding: 100px 0 100px 50px;
}
.sec-one-text h1{
    font-size: 80px;
    padding: 50px 0 30px 0;

}
.sec-one-text p{
    font-size: 30px;
    width: 35%;
    padding:0 0 50px 0;
}
.sec-one-text button{
    padding: 15px 40px;
    border: 2px solid #6db3ab;
    border-radius: 50px;
    background-color:#6db3ab ;
    width: 20%;
    color: white;
    font-size: 20px;
    margin-bottom: 100px;
}
/* ----------------------------- Section-two-start------------------------------------ */
.sec-two-img{
    padding: 100px 0;
}
.sec-two-text{
    color: #2fb4ac;
    padding-left: 40px;
}
.sec-two-text h2{
    font-size: 80px;
    padding-top: 70px;

}
.sec-two-text p{
    font-size: 30px;
    width: 70%;
    padding: 60px 0;
}
.sec-two-text button{
    padding: 15px 40px;
    border: 2px solid #e59090;
    border-radius: 50px;
    background-color:#e59090 ;
    width: 40%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 100px;
}
.pd{
    padding: 100px 0 0 0;
}

/* ----------------------------Section-three-start----------------------------- */
.sec-three{
    background-color: #e59090;
}
.sec-three-text{
    font-size: 40px;
    color: white;
    font-weight: bold;
    padding: 100px 0;
}
.sec-three-text-style p{
    width: 60%;
    color: white;
    margin: 0 auto;
    font-size: 20px;
    padding: 20px 0;
    margin-bottom: 60px;
}
.sec-three-text-style h3{
    color: white;
    font-size: 40px;
    padding-top: 20px;
}
/* ----------------------------Section-four-start----------------------------- */
/* ----------------------------Section-five-start----------------------------- */
.sec-five{
    background-color: #6edad4;
}
.sec-five-img{
    padding: 100px 0;
}
.sec-five-text{
    color: white;
    padding-left: 40px;
}
.sec-five-text h2{
    font-size: 80px;
    padding-top: 70px;

}
.sec-five-text p{
    font-size: 30px;
    width: 75%;
    padding: 60px 0;
}
.sec-five-text button{
    padding: 15px 40px;
    border: 2px solid #e59090;
    border-radius: 50px;
    background-color:#e59090 ;
    width: 40%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 90px;
}
.pd{
    padding: 100px 0 0 0;
}
/* ----------------------------Section-six-start----------------------------- */
#sec-six{
    background-image: url("../images/sec-6-bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-six-bg-color{
    background-color: #f9858580;
}

.sec-six-img{
    padding: 120px 0 60px 0;
}
.sec-six-text{
    color: white;
}
.sec-six-text p{
    font-size: 35px;
    width: 50%;
    margin: 0 auto;
}
.sec-six-text h3{
  font-size: 45px;
  font-weight: bold;
  padding: 40px 0 100px 0;
}
/* ----------------------------Section-seven-start----------------------------- */
.sec-seven{
    background-color:#ffe98a;
    padding-bottom: 100px;
}
.sec-seven-text h2{
color: #21243d;
font-size: 60px;
font-weight: bold;
padding: 120px 0 40px 0;
}
.sec-seven-text p{
 color: #21243d; 
 font-size: 30px;
 width: 52%; 
 margin: 0 auto; 
 padding-bottom: 80px; 
}
.sec-seven-style input{
    border: 2px solid white;
    background-color:white;
    border-radius: 50px;
    font-size: 25px;
    padding: 10px 100px;
}
.sec-seven-style {
    justify-content: center;
    position: relative;
    margin-bottom:200px;
}
.sec-seven-style button{
    padding: 10px 25px;
    border: 2px solid #21243d;
    border-radius: 50px;
    background-color:#21243d ;
    color: white;
    font-size: 25px;
    font-weight: bold; 
    position: absolute;
    right: 400px;
}
/* ----------------------------Footer-start----------------------------- */