*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-bg-color{
    background-color:#e59090;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.jsc{
    justify-content: space-between;
}
li{
    display:inline-block;
}
li>a{
    text-decoration: none;
    padding: 0 20px;
    color: white;
    font-size: 30px;
}
.alc{
    align-items: center;
}
.tlc{
    text-align: center;
}
.logo{
    padding: 20px;
}
.search{
    margin-right: 40px;
}
.col-50{
    width: 50%;
    margin: 0 auto;
}
.col-30{
    width: 30%; 
    margin: 0 auto; 
}
/*----------------------------Section-one-start--------------------*/
.sec-one{
    background-image: url("../images/sec-1-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-one-text{
    color: white;
    padding: 100px 0 100px 50px;
}
.sec-one-text h1{
    font-size: 80px;
    padding: 50px 0 30px 0;

}
.sec-one-text p{
    font-size: 30px;
    width: 35%;
    padding:0 0 50px 0;
}
.sec-one-text button{
    padding: 15px 40px;
    border: 2px solid #6db3ab;
    border-radius: 50px;
    background-color:#6db3ab ;
    width: 20%;
    color: white;
    font-size: 20px;
    margin-bottom: 100px;
}
/* ----------------------------- Section-two-start------------------------------------ */
.sec-two-img{
    padding: 100px 0;
}
.sec-two-text{
    color: #2fb4ac;
    padding-left: 40px;
}
.sec-two-text h2{
    font-size: 80px;
    padding-top: 70px;

}
.sec-two-text p{
    font-size: 30px;
    width: 70%;
    padding: 60px 0;
}
.sec-two-text button{
    padding: 15px 40px;
    border: 2px solid #e59090;
    border-radius: 50px;
    background-color:#e59090 ;
    width: 40%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 100px;
}
.pd{
    padding: 100px 0 0 0;
}

/* ----------------------------Section-three-start----------------------------- */
.sec-three{
    background-color: #e59090;
}
.sec-three-text{
    font-size: 40px;
    color: white;
    font-weight: bold;
    padding: 100px 0;
}
.sec-three-text-style p{
    width: 60%;
    color: white;
    margin: 0 auto;
    font-size: 20px;
    padding: 20px 0;
    margin-bottom: 60px;
}
.sec-three-text-style h3{
    color: white;
    font-size: 40px;
    padding-top: 20px;
}